:root {
  --primary-color: #B22222; 
  --bg-color: #121212; 
  --card-color: #1E1E1E; 
  --text-color: #FFFFFF; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  scrollbar-width: none !important; 
  -ms-overflow-style: none !important; 
}zz
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}